[mcu toolhead0]
canbus_uuid: 344aa949a915

# This file contains common pin mappings for the BIGTREETECH toolhead0
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.
# python3 ~/katapult/scripts/flash_can.py -i can0 -u  -f ~/klipper/out/klipper.bin

# [mcu toolhead0]
# serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
#canbus_uuid: 0e0d81e4210c

# [adxl345]
# cs_pin: toolhead0: PB12
# spi_software_sclk_pin: toolhead0: PB10
# spi_software_mosi_pin: toolhead0: PB11
# spi_software_miso_pin: toolhead0: PB2
# axes_map: x,y,z

[extruder]
step_pin: toolhead0: PD0
dir_pin: !toolhead0: PD1
enable_pin: !toolhead0: PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: toolhead0: PA2
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: toolhead0: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

# sensor_type:MAX31865
# sensor_pin: toolhead0: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: toolhead0: PA15
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin: toolhead0: PA0

[heater_fan hotend_fan]
pin: toolhead0: PA1
heater: extruder
heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: toolhead0:PD3

#[bltouch]
#sensor_pin: ^toolhead0:PB8
#control_pin: toolhead0:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: toolhead0:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^toolhead0:PB3